@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300&family=Outfit:wght@100&display=swap');

.main__container-about{
    display: flex;
    justify-content: center;
    align-items: center;    
    height: 70vh;
    animation: fadeIn 0.7s ease-in-out;
}

.about__profile {    
    border-bottom: 1px solid black;
    border-left: 2px solid black;
    padding: 10px;
    max-width: fit-content;
    flex-wrap: wrap;
    
}

.about__profile p {
    font-family: 'Outfit', sans-serif;
    font-style: oblique;
    font-size: 15px;
    font-weight: bolder;
    text-align: justify;    
}

@keyframes fadeIn {
    0% {
     opacity: 0;
     transform: translateY(20px);
    } 
    100% {
     opacity: 1;
     transform: translateY(0);
    }
}
