* {
    box-sizing: border-box;
    padding: 0;
}


body {
    margin: 0;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(43, 39, 117) 0%, rgba(234,233,235,1) 43%, rgba(115,151,158,1) 96%);       
    background-size: cover;
    min-height: 100vh;    
}