@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300&family=Outfit:wght@100&display=swap');

.main__home-container {
    display: flex;   
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.main_title {
    color: black;
    font-family: 'Outfit', sans-serif;
    font-size: 50px;
}

.home__info {
    display: flex;    
    justify-content: left;
    border-left: 2px solid black;
    border-bottom: 1px solid black;
}

.home__about {
    color: black;
    margin-left: 6px;
    width: 600px;
}