@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300&family=Outfit:wght@100&display=swap');

.projects {
    text-align: center;
    animation: fadeIn 0.7s ease-in-out;
}

.projects-header{
    color: rgb(158, 158, 173);
    font-size: 2.3em;
    font-family: 'Cormorant', sans-serif; 
}

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 1.5rem;
    margin-block: 1rem;
    justify-items: center;
}

@keyframes fadeIn {
    0% {
     opacity: 0;
     transform: translateY(20px);
    } 
    100% {
     opacity: 1;
     transform: translateY(0);
    }
}